
  <div class="wrapper">
    <div class="box">
      <div class="lottie">
       
          <ng-lottie [options]="options"></ng-lottie>
  
      </div>
      <p class="titre">{{ "RESET_PASSWORD_FEATURES.SUCCESS_EMAIL_VERIF.TITLE" | translate}}Vérification Réussie</p>
      <p class="discription ">{{ "RESET_PASSWORD_FEATURES.SUCCESS_EMAIL_VERIF.SUCCESS_MSG" | translate}} Votre adresse mail est vérifiée avec succès !</p>
      <button   class="btn">{{ "RESET_PASSWORD_FEATURES.SUCCESS_EMAIL_VERIF.BUTTON_TXT" | translate}}Continuer</button>
    </div>
  </div>
  
