.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.title {
  color: #2e3c66;
  font-size: clamp(20px, 4vw, 40px);
  line-height: 47px;
  font-family: buttershine;
  margin-bottom: 7vh;
}

.image {
  position: absolute;
  width: 7vh;
  top: -10px;
}
.single-feed {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--green-light);
}

::ng-deep .card {
  width: 100%;
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #e9ecef;
    width: 1rem;
    height: 1rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
  }

 .p-carousel-items-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  .p-carousel-item {
    background: var(--blanc);
    border-radius: 5px;
    box-shadow: 0;
    margin: 10px;
    width: 100% !important;
    max-width: 320px !important;
    padding: 15px;
    box-shadow: 1px 2px 4px 1px rgba(157, 157, 157, 0.75);
    -webkit-box-shadow: 1px 2px 4px 1px rgba(157, 157, 157, 0.75);
    -moz-box-shadow: 1px 2px 4px 1px rgba(157, 157, 157, 0.75);
  }

  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}

.title-block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: tommy_Medium;
  font-size: 12px;
  text-align: left;
  // line-height: 2rem;
}




::ng-deep .card {
  @media screen and (max-width: 767px) {

   
    .p-carousel-item {
      max-width: 100% !important;
      margin: 0px;
      // flex: 1 0 95% !important;
      // margin: 13px;
    }

  }

}