<p-progressBar class="progress" styleClass="progressBar"
  [color]="'linear-gradient(90deg,rgba(241, 251, 252, 1) 0%,rgba(27, 135, 147, 1) 50%,rgba(46, 60, 102, 1) 100%)'"
  [value]="progressBarValue"></p-progressBar>
<div class="wrapper">
  <div class="box">
    <div class="lottie">

      <ng-lottie [options]="options"></ng-lottie>

    </div>
    <p class="titre">{{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD_SUCCESS.TITLE" | translate}}</p>
    <p class="discription">{{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD_SUCCESS.RESET_SUCCESS" | translate}}
    </p>
    <button (click)="navigateToSignIn()" class="btn">{{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD_SUCCESS.BUTTON_TXT" | translate}}</button>
  </div>
</div>