.progress{
  position: absolute;
  top:0;
  width: 100%;
  z-index: 100;
}
.wrapper {
  width: 100%;
  height: calc(100% - 8px);
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 696px;
  padding: 3.3rem;
}

.titre {
  color: var(--blue-2);
  font-size: 20px;
  font-weight: 600;
  font-family: tommy_Medium;
  margin-bottom: 20px;
}
.text {
  max-width: 483px;
  font-family: tommy_Regular;
  color: var(--blue-2);
  font-size: 14px;
  letter-spacing: 1.13px;
  margin-bottom: 20px;
}

.password {
  display: flex;
  flex-direction: column;
}
.text-error {
  color: var(--red);
  font-size: clamp(12px, 75%, 15px);
  font-family: tommy_Regular;
  // margin-left: 5px;
  margin-top: 0px;
  position: absolute;
}
.label {
  color: var(--blue-2);
  font-size: 18px;
  font-family: tommy_Regular;
  margin-top: 30px;
  text-align: left;
  font-weight: 500;
}

// ::ng-deep .p-password {
//   max-width: 590px;
//   margin-top: 10px !important;
//   width: 100%;
//   background-color: var(--blanc);
//   height: 52px;
//   box-shadow: none !important;
//   border: 1px solid var(--grisBorder) !important;
//   border-radius: 11px;
// }

// ::ng-deep .p-password:hover {
//   background-color: var(--white);
//   border: 1px solid var(--green) !important;
// }

// ::ng-deep .p-password:focus {
//   background-color: var(--white);
//   border: 1px solid var(--green) !important;
// }

.input {
  max-width: 590px;
  margin-top: 10px !important;
  width: 100%;
  background-color: var(--blanc);
  height: 52px;
  box-shadow: none !important;
  border: 1px solid var(--grisBorder) !important;
  border-radius: 11px;
}

 .input:hover {
  background-color: var(--white);
  border: 1px solid var(--green) !important;
}

.input:focus {
  background-color: var(--white);
  border: 1px solid var(--green) !important;
}

.btn {
  background-color: var(--green);
  font-size: 18px;
  border-radius: 11px;
  width: 155px;
  height: 52px;
  border: 0;
  color: var(--white);
  font-family: tommy_Regular;
  margin-top: 20px;
}
i {
  color: var(--green);
  font-size: 15px;
}
span {
  margin-top: 20px;
  font-size: 15px;
  font-family: tommy_Regular;
  color: var(--blue-2);
}
.seConnecter {
  display: flex;
  align-items: baseline;
}
// ::ng-deep {
//   .p-progressbar {
//     height: 8px;
//     width: 100%;
//     max-width: 590px;
//     border-radius: 4px;
//     background: #f2f2f2;
//   }

//   .p-progressbar .p-progressbar-label {
//     display: none !important;
//   }

//   .p-progressbar .p-progressbar-value {
//     background: var(--gradient);
//     border-radius: 0 4px 4px 0;
//   }

//   .p-inputtext {
//     width: 95%;
//     border: none;
//     border-radius: 11px;
//   }
// }

::ng-deep {
  .progressBar {
    height: 8px;
    width: 100%;
    border-radius: 4px;
  
  }
}
::ng-deep {
  .inputContainer{
    width: 100% !important;
  }
  
  .customInputPassword{
    width: 100% !important;
    input{
    background-color: var(--blanc);
    width: 100% !important;
    border: 1px solid var(--grisBorder) !important;
    border-radius: 11px;
    height: 52px;
  }
  input:hover{
    background-color: var(--blanc);
  }
  input:focus{
    background-color: var(--blanc);
  }
  }
}


@media (max-width: 420px) {
  .box {
    padding: 1.5rem;
  }
}
@media (max-width: 750px) {
  .box {
    width: 100%;
    max-width: 420px;
  }
}
@media (max-width: 1024px) {
  .box {
    width: 100%;
    max-width: 420px;
  }
}
