<div class="wrapper">
<div class="title">Nos Services</div>
<div class="bigBox">
    <div class="box">

        <img class="image" src="/assets/images/nurse.png">
        <div class="smallBox">
            <div class="fonction">
                Paramedical
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/doctor_male.png">
        <div class="smallBox">
            <div class="fonction">
                Médecins
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/ambulance.png">
        <div class="smallBox">
            <div class="fonction">
                Transport Medical
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/chaise_roulante.png">
        <div class="smallBox">
            <div class="fonction">
                Parapharmacie
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/house.png">
        <div class="smallBox">
            <div class="fonction">
                Maison De Retraite
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/serum.png">
        <div class="smallBox">
            <div class="fonction">
                Laboratoires
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
    <div class="box">

        <img class="image" src="/assets/images/kids.png">

        <div class="smallBox">

            <div class="fonction">
                Baby-Sitting
            </div>
            <div class="commander">
                Commander
            </div>
        </div>

    </div>
    <div class="box">

        <img class="image" src="/assets/images/rip.png">
        <div class="smallBox">
            <div class="fonction">
                Pomp Funèbre
            </div>
            <div class="commander">
                Commander
            </div>
        </div>
    </div>
</div>
</div>