.title {
  color: var(--blue-2);
  font-weight: bold;
  font-size: 22px;
  // margin-bottom: 45px;
  font-family: buttershine;
}
.card {
  display: flex;
  flex-direction: row;
}
// .left {
//   width: 50%;
// }
// .right {
//   width: 50%;
// }
