<form class="form" [formGroup]="PWDForm">
    <div (click)="retour()" class="profil">
        <img  style="margin-left: 18px;transform: matrix(-1, 0, 0, -1, 0, 0);" src="../../../../../assets/images/play.svg">
        Profil
    </div>
    <label class="label">Mot de passeeee</label>

    <div style="position: relative; display: flex; align-items: center">
      <p-password formControlName="password" class="password" styleClass="password"
        [feedback]="false"></p-password>
      <!-- <img (click)="updatePWDa()" style="position: absolute; right: 10px" src="/assets/icons/updateIcon.svg" /> -->
    </div>

    <!-- <input pInputText formControlName="password" type="password" /> -->
  <div *ngIf="
        PWDForm?.controls?.password?.touched &&
        PWDForm?.controls?.password?.invalid
      ">
      <small class="p-error" *ngIf="PWDForm?.controls?.password?.errors?.required">
        <p class="text-error">password is required.</p>
      </small>
      <small class="p-error" *ngIf="PWDForm?.controls?.password?.errors?.['minlength']">
        <p class="text-error">
          password must be longer than 6 characters.
        </p>
      </small>
    </div>
    <div *ngIf="showPWDInputs">
      <div class="titleText">Entrer l'ancien mot de passe</div>
      <p-password formControlName="passwordAncien" [toggleMask]="true" [feedback]="false"
        styleClass="password"></p-password>

      <div class="titleText">Entrer le nouveau mot de passe</div>
      <p-password formControlName="passwordNV" [toggleMask]="true" [feedback]="false"
        styleClass="password"></p-password>

      <div class="titleText">Confirmer le nouveau mot de passe</div>
      <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
        styleClass="password"></p-password>
      <div *ngIf="PWDForm?.controls?.confirmPassword?.touched">
        <small class="p-error" *ngIf="PWDForm?.controls?.confirmPassword?.errors?.required">
          <p class="text-error">confirmPassword is required.</p>
        </small>
        <small class="p-error" *ngIf="
            PWDForm?.controls?.passwordNV?.value !==
              PWDForm?.controls?.confirmPassword?.value &&
            !PWDForm?.controls?.confirmPassword?.errors?.required
          ">
          <p class="text-error">confirmPassword does not much.</p>
        </small>
      </div>
    </div>

    <p-button type="submit" [disabled]="
        PWDForm.invalid ||
        PWDForm.value.passwordNV != PWDForm.value.confirmPassword
      " (click)="UpdatePWD()" [loading]="PasswordBTNLoading" styleClass="btn-Signup">Sauvegarder</p-button>
    <!-- <p-button type="submit" (click)="open('deleteAccountModal')" [loading]="PasswordBTNLoading"
      styleClass="btn-deconnecter"><i class="fa-solid fa-right-from-bracket"></i>Déconnecter du
      compte</p-button> -->
    <!-- <div class="delete">
      <p-button type="submit" (click)="open('deactivationReasonModal')" styleClass="btn-deactivate">
        <img class="image-icon" src="../../../../../assets/icons/interdit.svg" />Désactiver le compte</p-button>
      <p-button type="submit" (click)="open('deleteAccountModal')" [loading]="PasswordBTNLoading"
        styleClass="btn-Delete"><img class="image-icon" src="../../../../../assets/icons/garbage.svg" />Supprimer
        le compte</p-button>
    </div> -->
  </form>