<div style="height:100%">
  <p-progressBar
    class="progress"
    styleClass="progressBar"
    [color]="
      'linear-gradient(90deg,rgba(241, 251, 252, 1) 0%,rgba(27, 135, 147, 1) 50%,rgba(46, 60, 102, 1) 100%)'
    "
    [value]="progressBarValue"
  ></p-progressBar>

  <div class="wrapper">
    <div class="box">
      <div class="titre">
        {{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD.TITLE" | translate }}
      </div>
      <div class="text">
        {{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD.RESET_METHOD" | translate }}
      </div>
      <div class="mailtxt">
        {{ "RESET_PASSWORD_FEATURES.RESET_PASSWORD.SEND_MAIL_TXT" | translate }}
      </div>
      <div class="email">
        <label class="label">{{
          "RESET_PASSWORD_FEATURES.RESET_PASSWORD.EMAIL_LABEL" | translate
        }}</label>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <input
            class="EmailInput ng-invalid ng-dirty"
            type="email"
            pInputText
            formControlName="email"
          />
          <div
            *ngIf="
              emailForm?.controls?.email?.touched &&
              emailForm?.controls?.email?.invalid
            "
          >
            <small
              class="p-error"
              *ngIf="emailForm?.controls?.email?.errors?.required"
            >
              <p class="text-error">
                {{ "SHARED.ERRORS.EMAIL_REQUIRED" | translate }}
              </p>
            </small>

            <small
              class="p-error"
              *ngIf="
                emailForm?.controls?.email?.invalid &&
                !emailForm?.controls?.email?.errors?.required
              "
            >
              <p class="text-error">
                {{ "SHARED.ERRORS.EMAIL_INVALID" | translate }}
              </p>
            </small>
          </div>
          <button
            type="submit"
            [disabled]="emailForm.controls.invalid"
            class="btn"
          >
            {{
              "RESET_PASSWORD_FEATURES.RESET_PASSWORD.BUTTON_TXT" | translate
            }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
