<div class="wrapper">
  <app-navbar></app-navbar>
  <!-- <app-list-healthcare></app-list-healthcare> -->
  <app-home-search-service></app-home-search-service>
  <app-services></app-services>
  <app-about></app-about>
  <app-home-guide></app-home-guide>
  <app-cities></app-cities>
  <app-feed-backs></app-feed-backs>
  <app-footer></app-footer>

</div>
<!-- <app-login></app-login> -->
<!-- <app-home-search-service></app-home-search-service> -->

<!-- <app-rdv-appointment></app-rdv-appointment> -->

<!-- <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success">aaaaaaaaaa</button>
<button type="button" pButton pRipple (click)="show2()" label="Show" class="p-button-success">bbbbbbbbbb</button> -->
