<div class="wrapper">
  <div class="card">
    <div class="">
      <i
        (click)="close('SuccessfulBookingModal')"
        class="flex flex-row-reverse fa-regular fa-circle-xmark"
      ></i>
    </div>

    <div class="contents justify-content-evenly">
      <div class="content">
        <span class="titre">Réservation réussie</span>
        <span class="discription">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        </span>
        <div class="buttons">
          <button class="plus flex justify-content-center">Voir plus</button>
        </div>
      </div>
      <div class="images">
        <img class="image" src="/assets/icons/successful_booking.png" />
      </div>
    </div>
  </div>
</div>
