.title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #2E3C66;
    font-family: buttershine;
}

.bigSection{
    font-size: 20px;
    color: #2E3C66;
    font-family: tommy_Bold;
    margin-top:30px;
    margin-bottom:15px
}
.smallSection{
    font-family: tommy_Regular !important;
    font-size: 18px !important;
    color: #2E3C66 !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    background: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 0.5px solid #707070 !important;
    font-weight: 100 !important;
    padding-bottom: 22px !important;
    padding-left: 0 !important;
}
hr{
    //width: 50%;
    margin-top:15px;
    margin-bottom:15px;
    margin-inline-start: initial;
    color: #707070;
   // display: flex;
    
}
.left{
   width: fit-content;
}


