
<div class="wrapper">
    <div class="smallTitle">
        Veuillez sélectionner un choix
    </div>



<div class="box">
    <div class=" radiobtn flex align-items-center">
        <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
        <label for="ingredient1" class="choice ml-2">Infirmiére / Infirmier</label>
    </div>
    
    <div class="radiobtn flex align-items-center">
        <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
        <label for="ingredient2" class="choice ml-2">Technicien en réanimation</label>
    </div>
    
    <div class="radiobtn flex align-items-center">
        <p-radioButton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
        <label for="ingredient3" class="choice ml-2">Aide soignante / Aide soignant</label>
    </div>

    <div class="radiobtn flex align-items-center">
        <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"></p-radioButton>
        <label for="ingredient4" class="choice ml-2">Auxiliaire de vie</label>
    </div>
    <div class="radiobtn flex align-items-center">
        <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"></p-radioButton>
        <label for="ingredient4" class="choice ml-2">Kinésithérapeute</label>
    </div>
</div>
</div>