.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--white);
  max-width: 550px;
  width: 100%;
}

.card {
  width: 100%;
}

.besoin {
  align-items: center;
  width: 100%;
  padding: 15px
}
// .checked {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
// }
.image {
  max-width: 200px;
  width: 100%;
  height: 200px;
}
.titre {
  font-size: 20px;
  color: var(--blue-2);
  font-family: tommy_Bold;
}

button {
  background-color: var(--green);
  width: 125px;
  height: 40px;
  font-size: 16px;
  color: var(--blanc);
  border-radius: 10px;
  border-color: #e9e9e900 !important;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

::ng-deep .labels {
  margin-left: 5px;
  color: var(--blue-2);

}

::ng-deep .radioButton {
  font-size: 16px;
  color: var(--blue-2);
  font-family: tommy_Regular;

  .checkradioButton .p-radiobutton-box .p-radiobutton-icon {
    background-color: var(--green);
  }
  border-color: var(--green);

  .checkradioButton .p-radiobutton-box.p-highlight {
    width: 50px;
    border-color: var(--green);
    background: var(--blanc);
    border: solid;
  }
  .checkradioButton .p-radiobutton-box {
    border: 2px solid var(--blue-2);
  }
  .checkradioButton .p-radiobutton-box.p-highlight {
    border: 2px solid var(--green);
  }
}

::ng-deep {
  .background {
    background-color: var(--white) !important;
  }
}

@media (max-width: 450px) {
  .besoin {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .checked {
    // align-items: center;
  }

  .titre {
    justify-content: center;
    display: flex;
  }

  .button {
    justify-content: center;
    display: flex;
  }
}
