<div class="wrapper">
  <div class="card">


    <div class="reasons flex justify-content-evenly">
      <div class="title">
        Désactiver temporairement le compte
      </div>
      <div class="bigTitle">
        Êtes-vous sûr de désactiver le compte?
      </div>
      
      
      <div class="delete" style="display: flex;">
        <p-button type="submit" styleClass="btn-Deactivate" (click)="onSubmit()">
          Désactiver</p-button>
        <p-button type="submit" (click)="Annuler()" styleClass="btn-Delete">Annuler</p-button>
      </div>

    </div>
  </div>
</div>