<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="container" >
    <!-- <div class="leftSide">
      <div class="title">Bienvenue Foulen Ben Foulen</div>
      <div class="subtitle">Informations Personnelles</div>
      <div class="form">
        <form class="form" [formGroup]="PersoInfoForm">
          <label class="label">Nom</label>
          <input pInputText formControlName="firstname" class="inputStyle" type="text" />
          <div *ngIf="
              PersoInfoForm?.controls?.firstname?.touched &&
              PersoInfoForm?.controls?.firstname?.invalid
            ">
            <small class="p-error">
              <p class="text-error">Firstname is not valid.</p>
            </small>
          </div>

          <label class="label">Prénom</label>
          <input pInputText formControlName="lastname" class="inputStyle" />
          <div *ngIf="
              PersoInfoForm?.controls?.lastname?.touched &&
              PersoInfoForm?.controls?.lastname?.invalid
            ">
            <small class="p-error">
              <p class="text-error">Last name is not valid.</p>
            </small>
          </div>
          <label class="label">Date de naissance</label>-->
          <!-- <input
            pInputText
            formControlName="birthDate"
            class="inputStyle"
            type="date"
          /> -->
            <!--<p-calendar [(ngModel)]="date" styleClass="date" formControlName="birthDate" [showIcon]="true"></p-calendar>

          <div *ngIf="
              PersoInfoForm?.controls?.birthDate?.touched &&
              PersoInfoForm?.controls?.birthDate?.invalid
            ">
            <small class="p-error">
              <p class="text-error">Birth date is not valid.</p>
            </small>
          </div>
          <label class="label">Gender</label>
          <p-dropdown styleClass="noHover" [options]="gender" formControlName="gender"></p-dropdown>

          <label class="label">Numéro de CIN</label>
          <input pInputText formControlName="cin" type="number" class="inputStyle" />
          <div *ngIf="
              PersoInfoForm?.controls?.cin?.touched &&
              PersoInfoForm?.controls?.cin?.invalid
            ">
            <small class="p-error">
              <p class="text-error">Cin is not valid.</p>
            </small>
          </div>

          <label class="label">Adresse</label>
          <input pInputText formControlName="address" class="inputStyle" />
          <div *ngIf="
              PersoInfoForm?.controls?.address?.touched &&
              PersoInfoForm?.controls?.address?.invalid
            ">
            <small class="p-error">
              <p class="text-error">Address is not valid.</p>
            </small>
          </div>
          <div class="address-group">
            <div class="address">
              <label class="label">Ville</label>
              <p-dropdown styleClass="noHover" formControlName="city" [options]="paysTunisie"></p-dropdown>-->
              <!-- <input pInputText formControlName="city" class="inputStyle" /> -->
            <!--  <div *ngIf="
                  PersoInfoForm?.controls?.city?.touched &&
                  PersoInfoForm?.controls?.city?.invalid
                ">
                <small class="p-error">
                  <p class="text-error">City is not valid.</p>
                </small>
              </div>
            </div>

            <div class="address">
              <label class="label">Code postal</label>
              <input pInputText formControlName="postal" type="number" class="inputStyle" />
              <div *ngIf="
                  PersoInfoForm?.controls?.postal?.touched &&
                  PersoInfoForm?.controls?.postal?.invalid
                ">
                <small class="p-error">
                  <p class="text-error">Code postal is not valid.</p>
                </small>
              </div>
              <div *ngIf="
                  PersoInfoForm?.controls?.postal?.touched &&
                  PersoInfoForm?.controls?.postal?.invalid
                ">
                <small class="p-error" *ngIf="PersoInfoForm?.controls?.postal?.errors?.required">
                  <p class="text-error">postal is required.</p>
                </small>
              </div>
            </div>
          </div>
          <label class="label">Allergie(s)</label>
          <input formControlName="allergie" type="text" class="inputStyle" pInputText />

          <p-button type="submit" (click)="UpdatePersoInfo()" [loading]="PersoInfoBTNLoading"
            styleClass="btn-Signup">Sauvegarder</p-button>
        </form>

        <div class="form" [formGroup]="phoneNumberForm">
          <div class="subtitle">Information Sur Le Compte</div>

          <label class="label">Numéro de télèphone</label>

          <div style="position: relative; display: flex; align-items: center">
            <input class="inputStyle" pInputText type="tel" formControlName="phoneNumber" />
            <img (click)="updateNumber()" style="position: absolute; right: 10px" src="/assets/icons/updateIcon.svg" />
          </div>
          <div *ngIf="
              phoneNumberForm?.controls?.phoneNumber?.touched &&
              phoneNumberForm?.controls?.phoneNumber?.invalid
            ">
            <small>
              <p class="">Phone Number is not valid.</p>
            </small>
          </div>

          <div *ngIf="showPhoneInputs">
            <div class="titleText">Entrer le nouveau numéro de téléphone</div>
            <div style="position: relative; display: flex; align-items: center">
              <input styleClass="w-full" pInputText class="password" formControlName="phoneNumberNV" type="tel" />
              <img (click)="sendOTP()" style="position: absolute; right: 10px; width: 25px"
                src="/assets/icons/sendOTPIcon.svg" />
            </div>
            <div class="titleText">Entrer OTP</div>
            <input styleClass="w-full" pInputText class="inputStyle" formControlName="phoneNumberOTP" type="tel" />

            <p-button type="submit" (click)="UpdatePhoneNumber()" [loading]="PhoneBTNLoading"
              styleClass="btn-Signup">Sauvegarder</p-button>
          </div>
        </div>
        <form class="form" [formGroup]="mailForm">
          <label class="label">Email</label>
          <div style="position: relative; display: flex; align-items: center">
            <input id="disabled-input" pInputText type="email" formControlName="email" class="inputStyle" />

            <img (click)="updateMail()" style="position: absolute; right: 10px" src="/assets/icons/updateIcon.svg" />
          </div>

          <div *ngIf="showMailInputs">
            <div class="titleText">Entrer le nouveau mail</div>
            <div style="position: relative; display: flex; align-items: center">
              <input class="inputStyle" pInputText formControlName="new_email" type="tel" />
            </div>
            <p-button type="submit" (click)="UpdatePhoneNumber()" [loading]="PhoneBTNLoading"
              styleClass="btn-Delete">Sauvegarder
            </p-button>
          </div>
        </form>

        <div class="form" [formGroup]="PWDForm">
          <label class="label">Mot de passe</label>

          <div style="position: relative; display: flex; align-items: center">
            <p-password formControlName="password" class="password" styleClass="password"
              [feedback]="false"></p-password>
            <img (click)="updatePWD()" style="position: absolute; right: 10px" src="/assets/icons/updateIcon.svg" />
          </div>
-->
          <!-- <input pInputText formControlName="password" type="password" /> -->
          <!-- <div *ngIf="
              PWDForm?.controls?.password?.touched &&
              PWDForm?.controls?.password?.invalid
            ">
            <small class="p-error" *ngIf="PWDForm?.controls?.password?.errors?.required">
              <p class="text-error">password is required.</p>
            </small>
            <small class="p-error" *ngIf="PWDForm?.controls?.password?.errors?.['minlength']">
              <p class="text-error">
                password must be longer than 6 characters.
              </p>
            </small>
          </div>
          <div *ngIf="showPWDInputs">
            <div class="titleText">Entrer l'ancien mot de passe</div>
            <p-password formControlName="passwordAncien" [toggleMask]="true" [feedback]="false"
              styleClass="password"></p-password>

            <div class="titleText">Entrer le nouveau mot de passe</div>
            <p-password formControlName="passwordNV" [toggleMask]="true" [feedback]="false"
              styleClass="password"></p-password>

            <div class="titleText">Confirmer le nouveau mot de passe</div>
            <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
              styleClass="password"></p-password>
            <div *ngIf="PWDForm?.controls?.confirmPassword?.touched">
              <small class="p-error" *ngIf="PWDForm?.controls?.confirmPassword?.errors?.required">
                <p class="text-error">confirmPassword is required.</p>
              </small>
              <small class="p-error" *ngIf="
                  PWDForm?.controls?.passwordNV?.value !==
                    PWDForm?.controls?.confirmPassword?.value &&
                  !PWDForm?.controls?.confirmPassword?.errors?.required
                ">
                <p class="text-error">confirmPassword does not much.</p>
              </small>
            </div>
          </div>

          <p-button type="submit" [disabled]="
              PWDForm.invalid ||
              PWDForm.value.passwordNV != PWDForm.value.confirmPassword
            " (click)="UpdatePWD()" [loading]="PasswordBTNLoading" styleClass="btn-Signup">Sauvegarder</p-button>
          <p-button type="submit" (click)="open('deleteAccountModal')" [loading]="PasswordBTNLoading"
            styleClass="btn-deconnecter"><i class="fa-solid fa-right-from-bracket"></i>Déconnecter du
            compte</p-button>
          <div class="delete">
            <p-button type="submit" (click)="open('deactivationReasonModal')" styleClass="btn-deactivate">
              <img class="image-icon" src="../../../../../assets/icons/interdit.svg" />Désactiver le compte</p-button>
            <p-button type="submit" (click)="open('deleteAccountModal')" [loading]="PasswordBTNLoading"
              styleClass="btn-Delete"><img class="image-icon" src="../../../../../assets/icons/garbage.svg" />Supprimer
              le compte</p-button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="leftSide" style="display: flex; flex-direction:column;align-items: center; justify-content: center;">
      <router-outlet ></router-outlet>

    </div>
    <div class="rightSide">
   
      <div class="image">
        <img src="../../../../../assets/icons/doc_card.png" />
      </div>
      <div class="para">
        <span class="titleright">Agent de santé?  Souhaitez travailler avec nous? </span>
        <div class="merci">
          <span>Merci de poursuivre votre inscription en tant que prestataire. 
          </span>
          <span> Nous serons tellement ravis de vous avoir à bord </span>
          <div class="buttons">
            <button class="prestataire">Devenir prestataire</button>
            <button class="jamais">Jamais</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>