<div class="wrapper">
  <div class="header">
    <div class="title">Détails</div>
  </div>
  <div class="box1">
    <div class="headerinfo">
      <div class="profilePhoto">
        <img
          class="imageprofile"
          src="https://images.unsplash.com/photo-1615109398623-88346a601842?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        />
      </div>
      <div class="info">
        <div style="font-family: tommy_Bold" class="name">Foulen Fouleni</div>
        <div class="details">
          <div>
            <div class="date">
              <img
                class="dateimage"
                src="../../../../../assets/icons/calendar.svg"
              />
              10/03/2023
            </div>
          </div>
          <div class="time">
            <img class="timeimage" src="../../../../../assets/icons/time.svg" />
            14:30
          </div>
        </div>
      </div>
    </div>
    <div class="infodetais">
      <div style="margin-bottom: 34px">
        <span style="font-family: tommy_Medium"
          >Informations du patient(e)</span
        >
        <div class="soins">
          <span style="font-family: tommy_Bold"> Sexe : </span>Homme
        </div>

        <div class="soins">
          <span style="font-family: tommy_Bold"> Age :</span> 27 ans
        </div>
        <div class="soins">
          <span style="font-family: tommy_Bold"> Soin : </span>Consultation a
          domicile
        </div>
        <div class="soins">
          <span style="font-family: tommy_Bold"> Emplacement : </span>Sousse,
          khzema immobilier hassine 2éme étage, appartement numéro 2
        </div>
      </div>
      <span
        style="font-family: tommy_Medium; margin-bottom: 17px"
        class="bold-text spacing"
        >Prix du services</span
      >
      <div>
        <div>
          <div class="detailinfo">
            <div>Soins Simple :</div>
            <div>30 TND</div>
          </div>
          <div class="detailinfo">
            <div>Déplacement :</div>
            <div>10 TND</div>
          </div>
          <div class="TOTALE">
            <div>TOTALE</div>
            <div style="color: #1b8793">40 TND</div>
          </div>
        </div>
        <div class="ARBtns">
          <div class="ABtn">Annuler le rendez-vous</div>
        </div>
      </div>
    </div>
  </div>
</div>
