<div  class="box">
    <div class="profilePhoto">
        <img style="width: 44px; height: 44px; border-radius: 50%; object-fit: cover;"
            src="../../../../../assets/images/girl2.jpg">
    </div>
    <div class="info1">
        <div style="display: flex;">
            <div style="flex: 3;">
                <div style="font-family: tommy_Bold;" class="name">
                    Foulen Fouleni
                </div>
                <div style="margin-bottom: 27px" class="soins"> Femme  25 ans</div>

                <div class="soins" style="margin-bottom: 7px">
                    <span style="font-family: tommy_Bold;"> Soins : </span>Consultation à domicile
                </div>

                <div style="width: 250px; margin-bottom: 7px" class="empl ">
                    <span style="font-family: tommy_Bold; "> Emplacement :</span> Appartement numéro 2 Immeuble
                    kadha
                    kadh,
                    rue arafet Sousse
                </div>
            </div>
            <div style="flex: 1;height: 5px;" class="timer">
                <img src="../../../../../assets/icons/arrowmap.svg">
            </div>
        </div>
        
        <div class="distance "> <span class="distanceLoin">Loin de vous</span> 12 Km <span class="distanceLoin">Déplacement gratuit</span></div>




        <div class="ARBtns">
            <div (click)="fini()"  class="ABtn">J'ai fini</div>
            <div  class="RBtn">Annuler l'intervention</div>
        </div>

    </div>
</div>

