<div class="wrapper">
  <div class="card">
    <div class="">
      <i
        (click)="close('livraisonChoixModal')"
        class="flex flex-row-reverse fa-regular fa-circle-xmark"
      ></i>
    </div>
    <div class="besoin flex  justify-content-evenly">
            <div class="checked">
              <p class="titre">Avez vous besoin de</p>
              <div class="radioButtons">
              <div class="radioButton m-1">
                <p-radioButton
                  value="Prendre"
                  [(ngModel)]="checked"
                  styleClass="checkradioButton"
                  inputId="ingredient1"
                ></p-radioButton>
                <label class="labels">Service à domicile</label>
              </div>
              <div class="radioButton m-1">
                <p-radioButton
                  value="Soins"
                  styleClass="checkradioButton"
                  [(ngModel)]="checked"
                  inputId="ingredient2"
                ></p-radioButton>
                <label class="labels">Service immédiate à domicile</label>
              </div>
              </div>
              <div class="button">              <button class="flex justify-content-center">Confirmer</button>
              </div>
            </div>
      <div class="flex justify-content-center"><img class="image" src="/assets/icons/calander-image.png" /></div>
    </div>
  </div>
</div>
