<div class="wrapper">
  <div class="card">
    <div class="">
      <i
        (click)="close('OutherMemberModal')"
        class="flex flex-row-reverse fa-regular fa-circle-xmark"
      ></i>
    </div>

    <div class="flex flex-row">
      <div>
        <div class="flex  flex-column justify-content-start">
          <div class="content flex flex-column justify-content-start">
            <div class="radioButton m-1">
              <p-radioButton
                value="Monia"
                [(ngModel)]="checked"
                styleClass="checkradioButton"
                inputId="ingredient1"
              ></p-radioButton>
              <label class="labels">Monia ben foulen</label>
            </div>
            <div class="radioButton m-1">
              <p-radioButton
                value="Mohamed"
                styleClass="checkradioButton"
                [(ngModel)]="checked"
                inputId="ingredient2"
              ></p-radioButton>
              <label class="labels">Mohamed ben foulen</label>
            </div>
            <div class="radioButton m-1">
              <p-radioButton
                styleClass="checkradioButton"
                value="Monjia"
                [(ngModel)]="checked"
                inputId="ingredient3"
              ></p-radioButton>
              <label class="labels">Monjia ben foulene</label>
            </div>
            <div class="radioButton m-1">
              <p-radioButton
                value="Rafik"
                styleClass="checkradioButton"
                [(ngModel)]="checked"
                inputId="ingredient4"
              ></p-radioButton>
              <label class="labels">Rafik ben foulen</label>
            </div>
            <div class="radioButton m-1">
              <p-radioButton
                value="Mohamedali"
                styleClass="checkradioButton"
                [(ngModel)]="checked"
                inputId="ingredient5"
              ></p-radioButton>
              <label class="labels">Mohamed ali ben foulen</label>
            </div>
            <div class="radioButton m-1">
              <p-radioButton
                value="Autre"
                styleClass="checkradioButton"
                [(ngModel)]="checked"
                inputId="ingredient6"
              ></p-radioButton>
              <label class="labels">Autre membre</label>
            </div>
          </div>
          <button class="flex justify-content-center">Confirmer</button>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
