<div class="wrapper">
  <div class="box">
    <div class="left-part">
      <div class="grid-btn">
        <p class="titre">  {{ "SHARED.VOUSETES.VOUSETES_TITLE" | translate}}</p>
        <button class="btn"> {{ "SHARED.VOUSETES.PARAMEDICAL" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.MEDECINS" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.TRANSPORT_MEDICAL" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.RETIREMENT_HOME" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.PARAPHARMACIE" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.LABORATOIRES" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.BABY_SITTING" | translate}}</button>
        <button class="btn">{{ "SHARED.VOUSETES.POMP_FUNÈBRE" | translate}}</button>
       
      </div>
    </div>
<div class="right-part"> 

<img src="./../../../../assets/images/login-img.png"/>
</div>

  </div>
</div>
