.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-left: 50px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.title {
  font-size: 22px;
  color: #2e3c66;
  font-family: buttershine;
}

// ::ng-deep {
//     .btn-round {
//         border-radius: 30px !important;

//     }
// }

.margin-5 {
  margin-bottom: 5px;
}

.link {
  font-size: 16px;
  color: #1b8793;
  font-family: tommy_Regular;
}
.message {
  display: flex;
 justify-content: center;
  align-items: center;
  height: 268px;
  width: 100%;
  color: #B30006;
  font-family: tommy_Regular;
  font-size: 16px;
  padding: 18px;
  margin-bottom: 27px;
}
.box1 {
  width: 100%;
  height: 268px;
  //height: max-content;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 11px;
 // margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 18px;
  font-size: 15px;
  margin-bottom: 27px;
}
.box2 {
  width: 100%;
  height: 268px;
  //height: max-content;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 11px;
 // margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 18px;
  font-size: 15px;
  margin-bottom: 27px;
}

.box3 {
  width: 100%;
  height: 268px;
  //height: max-content;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 11px;
 // margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 18px;
  font-size: 15px;
  margin-bottom: 27px;
}
.box4 {
  width: 100%;
  height: 268px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137) !important;
  border-radius: 11px;
  display: flex;
  //justify-content: center;
  padding: 18px;
  font-size: 15px;
  margin-bottom: 27px;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
ng-lottie{
  width: 70%;
}
.lott{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto {
  display: flex;
  justify-content: flex-start;
  flex: 0.15;
}

.info {
  flex: 0.9;
  font-size: clamp(12px, 70%, 14px);
  color: #2e3c66;
  font-family: tommy_Regular;
  line-height: 22px;
}

.timer {
  // flex: 1
}

.ARBtns {
  display: flex;
  font-size: 13px;
  font-family: tommy_Regular;
  margin-top: 9px;
}

.ABtn {
  width: 113px;
  height: 44px;
  margin-right: 10px;
  background: #1b8793;
  border-radius: 11px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RBtn {
  width: 113px;
  height: 44px;
  border-radius: 11px;
  background: #b30006;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free {
  color: #b3b3b3;
}
.notfree {
  color: #2e3c66;
}
.money {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.Soinsmoney {
  font-family: tommy_Bold;
  margin-right: 9px;
}
.distanceLoin {
  font-family: tommy_Bold;
}
.Soinsprix {
  width: 98px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2e3c66;
  font-family: tommy_Medium;
  border-radius: 11px;
}
.radioButton{
    margin-left: 5px;
}
::ng-deep .DéplacementradioButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    
//   .p-checkbox .p-checkbox-box {
  
//   }
//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
//     border-color: #b3b3b3 !important;
//   }
//   .p-checkbox .p-checkbox-box .p-checkbox-icon {
//     transition-duration: 0.2s;
//     color: transparent;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     border: 2px solid #ffff;
//     font-size: 14px;
//   }

//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
//     border-color: #1b8793 !important;
//   }

//   .p-checkbox .p-checkbox-box.p-highlight {
//     border-color: #1b8793;
//     background: #1b8793;
//   }
//   .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
//     border-color: #1b8793 !important;
//     background: #1b8793 !important;
//   }
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
 
    border-color: #1B8793;
    background: #1B8793;
}
}

.free {
  color: #b3b3b3;
  margin-left: 2px;
  font-family: tommy_Regular;
  font-size: 12px;
  align-items: center;
}
.notfree {
  color: #2e3c66;
  margin-left: 2px;
  font-family: tommy_Regular;
  font-size: 12px;
  align-items: center;
}
