<div style="display: flex; justify-content: center;">
<div class="wrapper">
    <div class="leftPart">
        <div class="title">
            <div class="title1">
                Écrivez-Nous Un Message 
            </div>
            <div class="title2">
                Et Laissez-Nous Résoudre Votre Problème
            </div>
        </div>

        <div class="form" [formGroup]="reclamationForm">

            <label class="label">Vous êtes ?</label>
            <p-dropdown  styleClass="dropdown" formControlName="selectedType" [options]="type" ></p-dropdown>
            <label class="label">Votre demande concerne</label>
            <p-dropdown  styleClass="dropdown" formControlName="selectedDemand" [options]="type" ></p-dropdown>

            <label class="label">Nom</label>
            <input class="input" pInputText formControlName="lastname" type="text" placeholder="Nom" />
            <div *ngIf="reclamationForm.controls.lastname.touched && reclamationForm.controls.lastname.invalid">
                <small class="p-error">
                    <p class="text-error">Lastname is not valid.</p>
                </small>
            </div>

            <label class="label">Prénom</label>
            <input pInputText class="input" placeholder="Prénom" formControlName="firstname"  />
            <div *ngIf="reclamationForm.controls.firstname.touched && reclamationForm.controls.firstname.invalid">
                <small class="p-error">
                    <p class="text-error">Firstname is not valid.</p>
                </small>
            </div>


            <label class="label">Email</label>
            <input  class="input" pInputText formControlName="email" type="email" placeholder="Email" />
            <div *ngIf="reclamationForm.controls.email.touched && reclamationForm.controls.email.invalid">
                <small class="p-error">
                    <p class="text-error">Email is not valid.</p>
                </small>
            </div>

            <label class="label">Numéro de télèphone</label>
            <input pInputText class="input" formControlName="phoneNumber" type="tel" placeholder="Numéro de télèphone" />
            <div *ngIf="reclamationForm.controls.phoneNumber.touched && reclamationForm.controls.phoneNumber.invalid">
                <small class="p-error">
                    <p class="text-error">telephone </p>
                </small>
            </div>
            <label class="label">Comment pouvans-nous vous aider ?</label>
          
                <textarea class="textarea" id="float-input" rows="5" cols="30" formControlName="message" placeholder="600 caractéres maximum..." pInputTextarea></textarea>
              
            <button type="submit" Class="btn-Signup" (click)="send()">Envoyer</button>
        </div>

    </div>
    <div class="rightPart">
        <img src="../../../../../assets/images/reclamation.png">
    </div>
</div>
</div>