<div class="wrapper">
  <div class="card">
    <div class="">
      <i
        (click)="close('NotificationReminderModal')"
        class="flex flex-row-reverse fa-regular fa-circle-xmark"
      ></i>
    </div>

    <div class="contents  justify-content-evenly">
      <div class="content">
  
          <span class="titre">Hey Foulen !</span>
          <span class="Peparez">Péparez-Vous</span>
          <span class="discription"
            >Vous avez un rendez-vous avec docteur foulen au bout de 30
            minutes.</span
          >
          <div class="buttons">
            <button class="ok flex justify-content-center">Okay !</button>
        </div>
      </div>
      <div>
        <div class="images" >
          <img class="image"src="/assets/icons/notification.png" /></div>


        </div>
    </div>
  </div>
</div>
