<div class="big-box">

  <div class="box1">
    <div class="profilePhoto">
      <img class="imageprofile" src="../../../../../assets/images/girl2.jpg" />
    </div>

    <div class="info">
      <div class="header">
        <div class=" infoname">
          <div class="name">Foulen Fouleni</div>
        
         
        </div>
        <div class="timer">
            <div class="inside">
              <ng-lottie [options]="options"></ng-lottie>
            </div>
          </div>
      </div>
      <div class="soins">
        <span class="text"> <b> Soins : </b>Consultation à domicile</span>
      </div>
      <div class="empl">
        <span class="text">
          <b> Emplacement :</b> Appartement numéro 2 Immeuble kadha kadh,
          rue arafet Sousse</span >
      </div>
      <div class="money">
        <span class="text">Soins </span>
        <div class="soinsprix">75 TND</div>
      </div>
      <div class="distance">
        <span class="text"><b>Loin de vous </b> 12 Km</span>
      </div>
      <div class="deplacement">
      
          <div class="flex flex-wrap gap-3">
            
            <div class="flex align-items-center radioButton">
                <p-radioButton name="free" value="not free" [(ngModel)]="free" inputId="ingredient1"></p-radioButton>
                <label for="ingredient2" class="ml-2" [ngClass]="free  == 'not free'? 'notfree' : ' free'" >Déplacement 15 TND</label>
            </div>
            
            <div class="flex align-items-center  radioButton">
                <p-radioButton name="free" value="free" [(ngModel)]="free" inputId="ingredient2"></p-radioButton>
                <label for="ingredient3"  class="ml-2"[ngClass]="free == 'free'? 'notfree' : ' free'" > Déplacement gratuit</label>
            </div>
        
           
        </div>
    
      </div>
      <div class="ARBtns">
        <div class="ABtn">Accepter</div>
        <div class="RBtn">Refuser</div>
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="profilePhoto">
      <img class="imageprofile" src="../../../../../assets/images/girl2.jpg" />
    </div>

    <div class="info">
      <div class="header">
        <div class=" infoname">
          <div class="name">Foulen Fouleni</div>
        
         
        </div>
        <div class="timer">
            <div class="inside">
              <ng-lottie [options]="options"></ng-lottie>
            </div>
          </div>
      </div>
      <div class="soins">
        <span class="text"> <b> Soins : </b>Consultation à domicile</span>
      </div>
      <div class="empl">
        <span class="text">
          <b> Emplacement :</b> Appartement numéro 2 Immeuble kadha kadh,
          rue arafet Sousse</span >
      </div>
      <div class="money">
        <span class="text">Soins </span>
        <div class="soinsprix">75 TND</div>
      </div>
      <div class="distance">
        <span class="text"><b>Loin de vous </b> 12 Km</span>
      </div>
      <div class="deplacement">
      
          <div class="flex flex-wrap gap-3">
            
            <div class="flex align-items-center radioButton">
                <p-radioButton name="free" value="not free" [(ngModel)]="free" inputId="ingredient1"></p-radioButton>
                <label for="ingredient2" class="ml-2" [ngClass]="free  == 'not free'? 'notfree' : ' free'" >Déplacement 15 TND</label>
            </div>
            
            <div class="flex align-items-center  radioButton">
                <p-radioButton name="free" value="free" [(ngModel)]="free" inputId="ingredient2"></p-radioButton>
                <label for="ingredient3"  class="ml-2"[ngClass]="free == 'free'? 'notfree' : ' free'" > Déplacement gratuit</label>
            </div>
        
           
        </div>
    
      </div>
      <div class="ARBtns">
        <div class="ABtn">Accepter</div>
        <div class="RBtn">Refuser</div>
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="profilePhoto">
      <img class="imageprofile" src="../../../../../assets/images/girl2.jpg" />
    </div>

    <div class="info">
      <div class="header">
        <div class=" infoname">
          <div class="name">Foulen Fouleni</div>
        
         
        </div>
        <div class="timer">
            <div class="inside">
              <ng-lottie [options]="options"></ng-lottie>
            </div>
          </div>
      </div>
      <div class="soins">
        <span class="text"> <b> Soins : </b>Consultation à domicile</span>
      </div>
      <div class="empl">
        <span class="text">
          <b> Emplacement :</b> Appartement numéro 2 Immeuble kadha kadh,
          rue arafet Sousse</span >
      </div>
      <div class="money">
        <span class="text">Soins </span>
        <div class="soinsprix">75 TND</div>
      </div>
      <div class="distance">
        <span class="text"><b>Loin de vous </b> 12 Km</span>
      </div>
      <div class="deplacement">
      
          <div class="flex flex-wrap gap-3">
            
            <div class="flex align-items-center radioButton">
                <p-radioButton name="free" value="not free" [(ngModel)]="free" inputId="ingredient1"></p-radioButton>
                <label for="ingredient2" class="ml-2" [ngClass]="free  == 'not free'? 'notfree' : ' free'" >Déplacement 15 TND</label>
            </div>
            
            <div class="flex align-items-center  radioButton">
                <p-radioButton name="free" value="free" [(ngModel)]="free" inputId="ingredient2"></p-radioButton>
                <label for="ingredient3"  class="ml-2"[ngClass]="free == 'free'? 'notfree' : ' free'" > Déplacement gratuit</label>
            </div>
        
           
        </div>
    
      </div>
      <div class="ARBtns">
        <div class="ABtn">Accepter</div>
        <div class="RBtn">Refuser</div>
      </div>
    </div>
  </div>

</div>
