<app-navbar></app-navbar>
<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="welcome">
        <div class="name">
            Bienvenue pompes funébres
        </div>
        <div class="question">
            <div class="disponibility">
                Êtes-vous disponible pour des interventions immédiates?
            </div>
            <div class="check">
                <div>
                    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>

                </div>

                <div class="dispo" *ngIf="checked">
                    Disponible

                </div>
                <div class="indispo" *ngIf="!checked">
                    Indisponible

                </div>
            </div>
        </div>
    </div>


    <div class="all">
        <div class="top">

            <app-upcomming-pf></app-upcomming-pf>
           
        </div>
        <div class="right">
            <app-rendezvous-pf></app-rendezvous-pf>
           
        </div>
        <div style="flex: 1; ">
            <div>
                <app-appels-pf [checked]="checked"></app-appels-pf>
            </div>
        </div>
        
    </div>
   
</div>