.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  max-width: 550px;
  width: 100%;
}

.card {
  width: 100%;
}

.contents {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.image {
  max-width: 336px;
  max-height: 336px;
  width: 100%;
}

.titre {
  font-size: 20px;
  font-family: tommy_Bold;
  color: var(--blue-2);
  margin-bottom: 10px;
}

.discription-value {
  font-family: tommy_Regular;
  color: var(--blue-2);
  font-size: 14px;
  letter-spacing: 0.21px;
  line-height: 25px;
  max-width: 291px;
}

.discription-key {
  font-family: tommy_Bold;
  color: var(--blue-2);
  font-size: 16px;
  letter-spacing: 0.21px;
  line-height: 25px;
  max-width: 291px;
}

.plus {
  font-family: tommy_Regular;
  background-color: var(--green);
  width: 125px;
  height: 40px;
  font-size: 16px;
  color: var(--blanc);
  border-radius: 10px;
  border-color: #e9e9e900 !important;
  text-align: center;
  align-items: center;
}

.buttons {
  margin-top: 15px;
}


::ng-deep {
  .background {
    background-color: var(--white) !important;
  }
}


// @media (max-width: 450px) {
//   .contents {
//     align-items: center;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     flex-direction: column-reverse;
//   }

//   .titre {
//     justify-content: center;
//     display: flex;
//   }
//   .discription {
//     justify-content: center;
//     display: flex;
//     align-items: center;
//     text-align: center;
//   }
//   .buttons {
//     justify-content: center;
//     display: flex;
//   }


// }