<div class="wrapper">
  <div class="card">
    <div class="">
      <i (click)="close('patientMedicalCardModal')" class="flex flex-row-reverse fa-regular fa-circle-xmark"></i>
    </div>

    <div class="contents justify-content-evenly">
      <div class="content">
        <span class="titre">Fiche médicale</span>
        <span class="discription-key"> Nom <span class="discription-value"> Foulen </span></span>
        <span class="discription-key"> Prénom <span class="discription-value"> Ben Foulen </span></span>
        <span class="discription-key"> Date de naissance <span class="discription-value"> 07/08/2020 </span></span>
        <span class="discription-key"> Sexe <span class="discription-value"> Female </span></span>
        <span class="discription-key"> Allergie <span class="discription-value"> Oui, Lorem ipsum, Lorem ipsum, Lorem ipsum </span></span>
        
        <div class="buttons">
          <button class="plus flex justify-content-center">Continuer</button>
        </div>
      </div>
    </div>
  </div>
</div>