
<div class="wrapper">
    <div class="card">
      <div class="">
        <i
          (click)="close('AppointmentCancellledSuccessfulModal')"
          class="flex flex-row-reverse fa-regular fa-circle-xmark"
        ></i>
      </div>
  
      <div class="contents justify-content-center">
        <div class="content">
          <span class="titre">Transaction réussie </span>
          <span class="discription"
            >  Le rendez-vous a été annulé</span
          >
          <div class="buttons">
            <button class="Continuer">Okay</button>
           
          </div>
        </div>
  
        <div class="images">
          <img class="image" src="/assets/icons/successfule.png" />
        </div>
      </div>
    </div>
  </div>
  