.card {
  background-color: var(--blanc);
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0px 3px 6px #00000029 !important;
  position: relative;
  display: flex;
  flex-direction: row;
 margin-top: 5px;
}
.content {
  margin: 5px;
  display: flex;
  flex-direction: row;

}
.image {
  display: flex;
  justify-content: center;

}
img {
  width: 20px;
margin-left: 2px;
margin-right: 2px;
}
.titre {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.titre {
  color: var(--blue-2);
  font-size: 13px;
  font-family: tommy_Regular;
}

@media screen and (max-width: 1070px) {
  .card {
 
    padding: 24px;
  }
  
 }
 @media screen and (max-width: 537px) {
  .card {
    margin-top: 25px;
    padding: 24px;
  }
  .titre {
    color: var(--blue-2);
    font-size: 12px;
    font-family: tommy_Regular;
  }
    }