
  
 <div class="card"> 
<div class="content">
    <div class="image"><img src="../../../../../../assets/icons/patient.svg"/></div>
    <div class="titre"><span>90</span><span>Patients</span> </div>

</div><div class="content">
    <div class="image"><img src="../../../../../../assets/icons/consultant.svg"/></div>
    <div class="titre"><span>80</span><span> Consultations a domicile</span> </div>

</div>
<div class="content">
    <div class="image"><img src="../../../../../../assets/icons/consultant.svg"/></div>
    <div class="titre"><span>10</span><span> Déclarations de décès</span> </div>

</div>

 </div>
