<div class="wrapper">
    <div class="header">
        <div class="title">
            Rendez-vous prochainement
        </div>

    </div>
    <div class="box1">
        <div class="profilePhoto">
            <img class="imageprofile" style="width: 44px; height: 44px; border-radius: 50%; object-fit: cover;"
                src="../../../../../assets/images/girl2.jpg">
        </div>
        <div class="info">
            <div style="display: flex;">
                <div style="font-family: tommy_Bold; flex: 1;" class="name">
                    Foulen Fouleni
                </div>
                <div class="date" style="flex: 1; display: flex; align-items: center;">
                    <img style="width: 14px; margin-right: 5px;" src="../../../../../assets/icons/calendar.svg">
                    10/03/2023
                </div>
                <div class="time" style="flex: 0.5; display: flex; align-items: center;">
                    <img style="width: 15px; margin-right: 5px;" src="../../../../../assets/icons/time.svg">
                    14:30
                </div>
            </div>
            <div style="margin-bottom: 27px" class="soins"> Femme  25 ans</div>
            <div class="soins">
                <span style="font-family: tommy_Bold;"> Soins : </span>Consultation à domicile
            </div>
            <div style="width: 250px;" class="empl ">
                <span style="font-family: tommy_Bold;"> Emplacement :</span> Appartement numéro 2 Immeuble kadha kadh,
                rue arafet Sousse
            </div>

            <div class="ARBtns">
                <div class="ABtn">Annuler le rendez-vous</div>

            </div>

        </div>


    </div>
</div>