<div class="wrapper">
  <div class="card">
    <div class="title">Par semaine</div>
    <div class="statistic">
      <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
    </div>
    <div class="labels">
      <div class="label">
        <!-- <div>
          <i class="fa-sharp fa-solid fa-circle"></i>
        </div> -->
        <div style="position: absolute; top: 110px;">
          <div class="circle">200</div>
          <div style="color:#2E3C66 ; font-weight: 700;">Patients</div>
        </div>
        <div style="margin-top:30px; margin-bottom: 10px;">
        <span  class="circle"><i class=" fa-sharp fa-solid fa-circle"></i>Rendez-vous 50%</span>
      </div>
      
    </div>
      <div class="label"><span class="circleGreen" ><i class=" fa-sharp fa-solid fa-circle"></i>Appels immédiats 50%</span></div>

 
    </div>
  </div>
</div>
