<div class="wrapper">
  <div class="header">
    <div class="title">Rendez-vous prochainement</div>
  </div>
  <div class="box1">
    <div class="info">
      <div class="profileimage">
        <img
          class="profilePhoto"
          src="https://images.unsplash.com/photo-1615109398623-88346a601842?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        />
      </div>

      <div class="profileinfo">
        <div class="profileinfoo">
          <div class="headerbox">
          <div class="name">Foulen Fouleni</div>

          <div>
            <img class="imagebell" src="../../../../../assets/bell.png" />
          </div>
          </div>
          <div class="details">
            <div class="infodate">
              <div>
                <div class="date">
                  <img
                    class="imageCalander"
                    src="../../../../../assets/icons/whiteCalendar.svg"
                  />
                  10/03/2023
                </div>
              </div>
              <div class="time">
                <img
                  class="imagetime"
                  src="../../../../../assets/icons/whiteTimer.svg"
                />
                14:30
              </div>
            </div>

            <div class="empl">
              <img src="../../../../../assets/icons/whiteLoc.svg" />
              <div>
                Appartement numéro 2 Immeuble kadha kadh, rue arafet Sousse
              </div>
            </div>
          </div>
        </div>

     
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="info">
      <div class="profileimage">
        <img
          class="profilePhoto"
          src="https://images.unsplash.com/photo-1615109398623-88346a601842?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        />
      </div>

      <div class="profileinfo">
        <div class="profileinfoo">
          <div class="headerbox">
          <div class="name">Foulen Fouleni</div>

          <div>
            <img class="imagebell" src="../../../../../assets/bell.png" />
          </div>
          </div>
          <div class="details">
            <div class="infodate">
              <div>
                <div class="date">
                  <img
                    class="imageCalander"
                    src="../../../../../assets/icons/whiteCalendar.svg"
                  />
                  10/03/2023
                </div>
              </div>
              <div class="time">
                <img
                  class="imagetime"
                  src="../../../../../assets/icons/whiteTimer.svg"
                />
                14:30
              </div>
            </div>

            <div class="empl">
              <img src="../../../../../assets/icons/whiteLoc.svg" />
              <div>
                Appartement numéro 2 Immeuble kadha kadh, rue arafet Sousse
              </div>
            </div>
          </div>
        </div>

     
      </div>
    </div>
  </div>
</div>
