<div class="wrapper">
    <div class="title">
        Comment Prendre Un Rendez-Vous ?
    </div>
    <div class="guide">
        <div class="step1">
            <img class="image"  src="/assets/images/phone.png">
            <div class="smallTitle">
                &nbsp;
                <br>
                Choisissez Vos Soins
            </div>
            <div class="smallDescription">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna
            </div>
        </div>
        <div class="flesh1">
            <img  src="/assets/images/arrow_right.png">
        </div>
        <div class="step2">
            <img class="image" style="margin-left: 50px;" src="/assets/images/personnel_aawinni.png">
            <div class="smallTitle">
                Aawinni Vous Trouve Un Professionnel
            </div>
            <div class="smallDescription">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna
            </div>
        </div>
        <div class="flesh2">
            <img  src="/assets/images/arrow_right.png">
        </div>
        <div class="step3">
            <img class="image" src="/assets/images/doctor_home.png">
            <div class="smallTitle">
                &nbsp;
                <br>
                Le Professionnel Vous Rappelle
            </div>
            <div class="smallDescription">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna
            </div>
        </div>

    </div>
</div>