<div class="big-box">
    <div *ngFor="let item of rdvData">
        <div class="box">
            <div class="light-card">
                <div class="card-header">
                    <div class="user-data">
                        <div class="image-block">
                            <img src="{{item.image}}" [alt]="" class="thumbnail-img-historique" />
                        </div>
                        <div class="title-block">
                            <div style="display: flex;justify-content: space-between; align-items: center;">
                                <div style="display: flex; align-items: center;">
                                    <div class="name">{{item.name}}</div>
                                    <i class="fa-solid fa-circle-check icon"></i>
                                </div>
                                <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #000000; position: absolute; right: 20px;"></i>
                            </div>
                            <div class="fonction">{{item.jobTitle}}</div>
                            <div>
                                <img class="etoile" src="../../../../../assets/icons/rating.svg"  />
                            </div>
                            <div class="fonction"><a>Consultation :</a> <a>80 TND </a></div>
                            <div class="card-content">
                                <div class="delais-historique">
                                    <div style="margin-bottom: 5px" class="card-body">
                                        <div class="left-date">
                                            <img src="/assets/green-calendar.svg" alt="calendar" class="light-icon">
                                            <span class="text-date">{{item.startDate}} </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="date">
                                            <i class="fa-regular fa-clock green-icon"></i>
                                            <span class="text-date">{{item.startTime}} </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-content"></div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>